.content{
    margin-top: 10%;
}
.btn{
    float: right;
}

.article {
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
}

.noProduct{
    margin-top: 5%;
    text-align: center;
}